body {
  font-family: "Open Sans", Arial;
  background: #EEE;
  text-align: center;
}
body * {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.pie-chart {
  font-family: "Open Sans", Arial;
}
.pie-chart--wrapper {
  // max-width: 400px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  h2 {
    color: $blue;
  }
}
.pie-chart__pie, .pie-chart__legend {
  display: inline-block;
  vertical-align: top;
}
.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
  .current-number {
    color: $green;
    font-family: $nunito;
    font-size: 25px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    height: 30px;
    width: auto;
    z-index: 2;
    span:last-child {
      // color: $blue;
      margin-top: 85px;
      display: block;
      font-size: 20px;
    }
  }
}
.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}


.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
          animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-legend {
  display: table;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
  margin-top: 35px;
  button {
    width: 100%;
    background-color: $grey;
    color: $blue;
    font-size: 19px;
    font-family: $nunito;
    border-radius: 0;
    &:hover, &:active {
      background-color: $blue;
      border-color: $grey;
    }
    &:focus {
      background-color: $grey;
      color: $blue;
      border-color: $blue;
    }
  }
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 12px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
  text-align: left;
  width: 100%;
  z-index: 10 !important;
}

.dropdown-menu {
  z-index: 1000 !important;
}
.pie-chart__legend li {
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 2.25em solid black;
  // display: none;
  a {
    font-size: 12px;
    padding: 3px 3px 3px 0 !important;
  }
}
.pie-chart__legend em {
  font-style: normal;
}
.pie-chart__legend span {
  float: right;
}

.pie-chart__legend {
  &.active-data {
    height: 100%;
    li {
      display: block;
    }
  }
}

.pie-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 767px) {
  .pie-charts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
