body {
  svg {
    // display: none;
    g {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
  h2 {
    text-align: center;
    color: $green;
    font-size: 42px;
  }

  .top-section {
    background-color: $green;
    height: 90vh;
    width: 100vw;
    display: table;
    position: relative;
    h1 {
      font-family: $nunito;
      font-weight: 900;
      text-align: center;
      display: table-cell;
      // vertical-align: middle;
      color: white;
      line-height: 1em;
      z-index: 100;
      bottom: -225px;
      position: relative;
      span {
        display: block;
        &.yellow-title {
          font-family: $open_sans;
          font-size: 42px;
          color: $yellow;
          font-style: italic;
          line-height: 1em;
        }
      }
      img {
        width: 200px;
        height: auto;
      }
    }

    .svg-background {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;
      left: 0;
      svg {
        min-height: 1000px;
        height: 100%;
        width: auto;
      }
    }
  }


  .announcements-section {
    padding: 25px;
    // height: 400px;
    width: 100%;
    background: $grey;
    padding: 25px;
    .list {
      padding: 25px 0;
    }
    .col-date {
      padding: 15px;
    }
    .date {
      height: 150px;
      background-color: white;
      padding: 5px;
      border: 2px solid #d1d1d1;
      position: relative;
      h4 {
        color: $blue;
        font-size: 20px;
        font-family: $nunito;
      }
      p {
        color: $darkgrey;
        font-size: 16px;
      }
      .button-wrapper {
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 20px;
          button {
            width: 25%;
            display: inline-block;
            background-color: $yellow;
            margin: 0 5px;
            border-radius: 0;
            border-color: $grey;
            .glyphicon {
              color: white;
            }
          }
      }
    }

  }



  .horizontal-section {
    background-color: $yellow;
    height: 200px;
    width: 100%;
    background-image: url('block-pattern.svg');
    background-repeat: repeat;
    background-size: 500px;
    padding: 25px;
    h3 {
      color: $darkgrey;
      padding-top: 25px;
      font-style: italic;
      font-size: 35px;
    }
    span {
      font-style: italic;
      font-family: $open_sans;
      font-size: 16px;
      padding-top: 10px;
      float: right;
    }
  }
  .key-message-section {
    padding: 25px;
    background: white;
    p {
      text-align: center;
    }

    .youtube {
      height: 350px;
      width: 100%;
      margin: 20px auto;
      display: inline-block;
      background:linear-gradient(rgba(0, 85, 129, 0.5),rgba(0, 85, 129, 0.5)),url('img/video.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px solid white;
      transition: all .5s linear;
      -webkit-transition: all .5s linear;
      svg#play {
        margin-top: 125px;
        height: 80px;
        width: 80px;
        opacity: .7;
      }
      &:hover {
        background: linear-gradient(rgba(51, 51, 51, 0.5),rgba(51, 51, 51, 0.5)),url('img/video.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        svg#play g {
          // fill: $blue;
          opacity: 1;
        }
      }
    }
  }
}

.stats-section {
  padding: 25px;
}

.stories-section {
  background-color: $grey;
  padding: 25px;
  .stories {
    padding: 25px;
  }
  .col-md-6 {
    .story-2 {
      background:linear-gradient(rgba(0, 85, 129, 0.5),rgba(0, 85, 129, 0.5)),url('img/host_story.jpg');
    }
    .story-1 {
      background:linear-gradient(rgba(0, 85, 129, 0.5),rgba(0, 85, 129, 0.5)),url('img/youth_story.jpg');
    }
    .story-2, .story-1 {
      // background:linear-gradient(rgba(0, 85, 129, 0.5),rgba(0, 85, 129, 0.5)),url('img/sample_1.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      position: relative;
      .content {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 100px;
        h3 {
          color: white;
          padding-bottom: 25px;
          padding: 20px;
          font-size: 42px;
        }
        a {
          color: white;
          padding: 10px 25px;
          border: 2px solid white;
          text-decoration: none;
          font-size: 18px;
          font-family: $open_sans;
          span {
            font-weight: bold;
          }
          // overflow: hidden;


        }
      }
    }
  }
}

.gallery-section {
  padding: 50px;
  background-color: white;
  .social-icons {
    padding-top: 25px;
    p {
      font-style: italic;
      font-size: 14px;
      padding-bottom: 10px;
    }
    a {
      text-decoration: none;
      display: inline-block;
      height: 50px;
      margin: 0 10px;
      width: auto;
    }
    svg {
      display: inline-block;
      height: 50px;
      width: auto;
    }
  }
}


.email-section {
  background-color: $green;
  padding: 20px;
  p {
    text-align: left;
    color: white;
    font-style: italic;
    margin-bottom: 0;
    font-size: 16px;
    vertical-align: bottom;
    height: 34px;
    line-height: 34px;
  }
  form {
    * {
      border-radius: 0;
    }
    .btn {
      border-color: white;
      background-color: $yellow;
    }
    .form-control {
      border-color: white;
    }
    .glyphicon {
      color: white;
    }
  }
}


.alternate {
  background: linear-gradient(rgba(0, 171, 101, 0.75),rgba(0, 171, 101, 0.75)),url('img/keiser.jpg');
  background-size: cover !important;
  background-position: top !important;
}

.employers .alternate {
  background: linear-gradient(rgba(0, 171, 101, 0.75),rgba(0, 171, 101, 0.75)),url('img/host_story.jpg');
}

.faq .alternate {
  background: linear-gradient(rgba(0, 171, 101, 0.75),rgba(0, 171, 101, 0.75)),url('img/faq_image.jpg');
}


.contact-us .alternate {
  background: linear-gradient(rgba(0, 171, 101, 0.75),rgba(0, 171, 101, 0.75)),url('img/contact_image.jpg');
}

.youth .alternate {
  background: linear-gradient(rgba(0, 171, 101, 0.75),rgba(0, 171, 101, 0.75)),url('img/youth_image.jpg');
  background-position: top !important;
}
