body {
  p {
    font-size: 18px;
    font-family: $open_sans;
  }

  h2,h3 {
    font-family: $nunito;
  }

  h1 {
    font-size: 50px;
  }
}

#cboxOverlay {
  background-color: white;
}

form {
  font-family: $open_sans;
}

// #imageGallery{
//   a {
//     img {
//       -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//       filter: grayscale(100%);
//     }
//     div.overlay {
//       height: 100%;
//       width: 100%;
//       background-color: $green;
//       opacity: .5;
//     }
//     &:nth-child(2n) {
//       div.overlay {
//         background-color: $yellow;
//       }
//     }
//     &:nth-child(3n) {
//       div.overlay {
//         background-color: white;
//       }
//     }
//     &:nth-child(4n) {
//       div.overlay {
//         background-color: $blue;
//       }
//     }
//     &:nth-child(5n) {
//       div.overlay {
//         background-color: $green;
//       }
//     }
//     &:nth-child(6n) {
//       div.overlay {
//         background-color: $yellow;
//       }
//     }
//   }
// }

.vcenter {
    // display: inline-block;
    vertical-align: middle;
    // float: none;
}
