nav#header {
  border: none;
  background-color: white;
  z-index: 200;
  .navbar-header {
      z-index: 100;
      position: relative;
  }
  .navbar-brand {
    height: 150px;
    img {
      height: 100%;
    }
  }
  .navbar-collapse {
    position: relative;
    ul.nav {
      // change on responsive
      position: absolute;
      bottom: 20px;
      right: 0;
      a {
        font-family: $open_sans;
        font-weight: bold;
        font-size: 24px;
        color: $blue;
        border-bottom: 5px solid white;
        &:hover {
          border-bottom: 5px solid $green;
        }
      }
    }
  }
  .nav-message {
    position: relative;
    padding: 15px 0;
    background-color: $grey;
    width: 100%;
    -webkit-box-shadow: 2px 7px 11px -2px rgba(204,204,204,.5);
    -moz-box-shadow: 2px 7px 11px -2px rgba(204,204,204,.5);
    box-shadow: 2px 7px 11px -2px rgba(204,204,204,.5);
    p {
      font-size: 18px;
      margin-bottom: 0;
      text-align: center;
      font-weight: bold;
      width: 100%;
      position: absolute;
      padding: 10px 0;
    }
    a {
      font-size: 18px;
      background-color: $yellow;
      padding: 10px 20px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      float: right;
      z-index: 20000;
      position: relative;
    }
  }
}

footer {
  position: relative;
  width: 100%;
  #footer {
    border-top: 5px solid $yellow;
    background-color: $grey;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 50px 25px !important;
    .footer-images {
      width: 100%;
      height: 120px;
    }
    img {
      min-width: 170px;
      max-height: 110px;
      display: inline-block;
      margin: 0 20px;
      vertical-align: bottom;
    }
  }
}
