@media screen and (max-width: $xs) {
  .row table.table {
    th {
      font-size: 14px;
    }
    td {
      font-size: 9px;
      padding: 10px 6px !important;
    }
  }

  #footer {
    .footer-images {
      img {
        width: 50%;
        margin: 15px 0;
      }
    }
  }

  .pie-charts {
    .col-sm-4 {
      width: 100%;
    }
  }
  .horizontal-section {
    .row {
      h3 {
        padding-top: 0;
      }
    }
  }

}
@media screen and (max-width: $sm) {
  body {
    &.front {
      .top-section.alternate{
        margin-top: 225px;
        height: 300px;
        background-position: center !important;
        background-size: cover !important;
        h1 {
          bottom: -25px !important;
          font-size: 50px !important;
          span.yellow-title {
            font-size: 30px;
          }
        }
      }
    }
  }
  h1 {
    font-size: 58px !important;
  }
  body.subpage  {
    .top-section {
      h1 {
        font-size: 60px !important;
      }
    }
  }

  nav#header {
    .navbar-toggle {
      border-color: white;
    }
    .navbar-toggle:focus, .navbar-toggle:hover{
      background-color: white;
    }

    #navbar {
      ul {
        position: relative ;
        bottom: initial ;
        right: initial;
        margin-top: 20px;
      }
    }
    .nav-message {
      padding: 0;
      .row {
        a {
          width: 100%;
          display: block;
          margin: 0 !important;
          font-size: 14px;
        }
        p {
          display: block;
          position: relative;
          font-size: 12px;
        }
      }
    }
  }
  .horizontal-section {
    .row {
      h3 {
        font-size: 25px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: $md) {
  body {
    .email-section {
      p {
        font-size: 12px;
        display: block;
        text-align: center;
        padding: 10px 0;
      }
    }
    .row.stories {
      .col-md-6 {
        padding: 10px;
      }
    }
    &.contact-us, &.employers, &.faq, &.youth {
      .alternate {
        background-position: center 150px !important;
      }
    }
  }

  nav#header {
    #navbar {
      ul {
        // bottom: 0;
        // position: absolute;
        li a {
          font-size: 16px;
        }
      }
    }
    .nav-message {
    a {
      margin: 0 15px;
    }
    p {
      font-size: 16px;
    }
    }
  }



}
@media screen and (max-width: $lg) {
  body {
    .email-section {
      p {
        font-size: 13px;
        height: initial;
      }
    }
    .horizontal-section {
      .row {
        h3 {
          font-size: 30px;
        }
      }
    }
  }


}
@media screen and (max-width: $xl) {


}
