@media screen and (max-width: $xs) {

}
@media screen and (max-width: $sm) {

}
@media screen and (max-width: $md) {

nav#header {
  .navbar-toggle {
    border-color: white;
  }
  .navbar-toggle:focus, .navbar-toggle:hover{
    background-color: white;
  }
  .navbar-collapse ul.nav {
    position: relative;
    bottom: inital;
    right: inital;
    margin-top: 20px;
  }
}


}
@media screen and (max-width: $lg) {

}
@media screen and (max-width: $xl) {


}
