@media screen and (max-width: $xs) {

}
@media screen and (max-width: $sm) {

}
@media screen and (max-width: $md) {

nav#header .navbar-collapse ul.nav {
  position: relative;
  bottom: inital;
  right: inital;
}
}
@media screen and (max-width: $lg) {

}
@media screen and (max-width: $xl) {


}
