body.subpage {
  .top-section {
    h1 {
      font-size: 80px;
      bottom: -225px;
      text-align: center;
      display: block;
    }
    p {
      line-height: 1.5em;
      font-size: 16px;
    }
    .col-md-6.col-md-offset-3 {
      position: relative;
      height: 100%;
      button {
        margin-top: 225px;
        font-size: 18px;
        background-color: #fcd804;
        padding: 10px 20px;
        border: none;
        a {
          color: white;
          font-family: $open_sans;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  .documents a{
    display: block;
    font-size: 18px;
    color: $blue;
    padding: 10px;
    font-family: $nunito;

  }
}

.faqs {
  margin-top: 50px;
}

.question {
  font-family: $nunito;
  button {
    border-style: none;
    width: 100%;
    padding: 25px 10px;
    background-color: white;
    border: 1px solid $yellow;
    font-size: 18px;
    color: $blue;
    text-align: left;
    margin-bottom: 10px;
    .col-q-img {
      padding: 0;
      img {
        max-width: 50px;
        width: 100%;
        height: auto;
      }
    }
  }
  .answer {
    margin: 25px 10px;
    font-size: 18px;
    ul {
      list-style-type: none;
    }
  }
}

.info {
  padding-bottom: 25px;
}

form.contact-form {
  text-align: left;
  font-size: 18px;
  font-family: $open_sans;
  padding: 50px 0;
  display: inline-block;
  label {
    font-family: $nunito;
    color: $blue;
  }
  input {
    border-radius: 0;
  }
  button {
    font-size: 18px;
    font-family: $open_sans;
    background-color: $yellow;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    &:hover {
      background-color: $green;
      color: white;
    }
  }
}


table.table {
  margin: 25px 0;
  border-color: $yellow;
  th {
    font-size: 24px;
    font-family: $nunito;
    color: $blue;
    border-color: $yellow !important;
    text-align: center;
  }
  td {
    font-size: 12px;
    font-family: $open_sans;
    font-weight: bold;
    color: $darkgrey;
    border-color: $yellow !important;
    padding: 15px 8px !important;
    &:nth-child(3) {
      color: $green;
    }
    a {
      color: $blue;
    }
  }
}

.google-form {
  margin-top: 25px;
}
