body p {
  font-size: 18px;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
body h2, body h3 {
  font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
body h1 {
  font-size: 48px; }

#imageGallery a img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }
#imageGallery a div.overlay {
  height: 100%;
  width: 100%;
  background-color: #fcd804;
  opacity: .5; }
#imageGallery a:nth-child(2n) div.overlay {
  background-color: #00ab65; }
#imageGallery a:nth-child(4n) div.overlay {
  background-color: white; }

.vcenter {
  vertical-align: middle; }

body p {
  font-size: 18px;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
body h2, body h3 {
  font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
body h1 {
  font-size: 48px; }

#imageGallery a img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }
#imageGallery a div.overlay {
  height: 100%;
  width: 100%;
  background-color: #fcd804;
  opacity: .5; }
#imageGallery a:nth-child(2n) div.overlay {
  background-color: #00ab65; }
#imageGallery a:nth-child(4n) div.overlay {
  background-color: white; }

.vcenter {
  vertical-align: middle; }

nav#header {
  border: none;
  background-color: white; }
  nav#header .navbar-brand {
    height: 100px; }
    nav#header .navbar-brand img {
      height: 100%; }
  nav#header .navbar-collapse {
    position: relative; }
    nav#header .navbar-collapse ul.nav {
      position: absolute;
      bottom: 20px;
      right: 0; }
      nav#header .navbar-collapse ul.nav a {
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #0e5682;
        border-bottom: 5px solid white; }
        nav#header .navbar-collapse ul.nav a:hover {
          border-bottom: 5px solid #00ab65; }

footer #footer {
  background-color: #fcd804;
  height: 500px;
  width: 100%; }

@media screen and (max-width: 992px) {
  nav#header .navbar-collapse ul.nav {
    position: relative;
    bottom: inital;
    right: inital; } }
body svg g {
  visibility: visible;
  opacity: 1;
  display: block; }
body h2 {
  text-align: center;
  color: #00ab65; }
body .top-section {
  background-color: #00ab65;
  height: 90vh;
  width: 100vw;
  display: table;
  position: relative; }
  body .top-section h1 {
    font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 900;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    line-height: 1.1em;
    z-index: 100;
    position: relative; }
    body .top-section h1 span {
      display: block; }
      body .top-section h1 span.yellow-title {
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 24px;
        color: #fcd804;
        font-style: italic; }
  body .top-section .svg-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    left: 0; }
    body .top-section .svg-background svg {
      min-height: 1000px;
      height: 100%;
      width: auto; }
body .horizontal-section {
  background-color: #fcd804;
  height: 400px;
  width: 100%;
  background-image: url("block-pattern.svg");
  background-repeat: repeat;
  background-size: 500px;
  padding: 25px; }
body .key-message-section {
  padding: 25px;
  background: white; }
  body .key-message-section p {
    text-align: center; }
  body .key-message-section .youtube {
    height: 400px;
    width: 100%;
    display: inline-block;
    background: linear-gradient(rgba(0, 85, 129, 0.5), rgba(0, 85, 129, 0.5)), url("img/sample_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.stats-section {
  padding: 25px; }

.stories-section {
  padding: 25px; }
  .stories-section .col-md-6 .story-2, .stories-section .col-md-6 .story-1 {
    background: linear-gradient(rgba(0, 85, 129, 0.5), rgba(0, 85, 129, 0.5)), url("img/sample_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative; }
    .stories-section .col-md-6 .story-2 .content, .stories-section .col-md-6 .story-1 .content {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 25px; }
      .stories-section .col-md-6 .story-2 .content h3, .stories-section .col-md-6 .story-1 .content h3 {
        color: white;
        padding-bottom: 25px; }
      .stories-section .col-md-6 .story-2 .content a, .stories-section .col-md-6 .story-1 .content a {
        color: white;
        padding: 10px 15px;
        border: 2px solid white;
        text-decoration: none; }

.gallery-section {
  padding: 50px;
  background-color: #ebebeb; }

body {
  font-family: "Open Sans", Arial;
  background: #EEE;
  text-align: center; }

body * {
  font-weight: 300;
  margin: 0;
  padding: 0; }

@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0); } }
@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0); } }
.pie-chart {
  font-family: "Open Sans", Arial; }

.pie-chart--wrapper {
  width: 400px;
  margin: 30px auto;
  text-align: center; }
  .pie-chart--wrapper h2 {
    color: #333333; }

.pie-chart__pie, .pie-chart__legend {
  display: inline-block;
  vertical-align: top; }

.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px; }

.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  top: 50px;
  left: 50px; }

.pie-chart__pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto; }

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
  animation: bake-pie 1s; }

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px); }

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 12px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
  text-align: left;
  width: 75%; }

.pie-chart__legend li {
  height: 30px;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 2.25em solid black; }

.pie-chart__legend em {
  font-style: normal; }

.pie-chart__legend span {
  float: right; }

.pie-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

@media (max-width: 500px) {
  .pie-charts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
